<!-- include header -->
<%- include('include/_header') %>
<!-- /include header -->

     <!-- Main Site -->
     <main id="site-main">
        <div class="container">
            <div class="box-nav d-flex justify-between">
                <div class="filter">
                    <a href="/"><i class="fas fa-angle-double-left"></i> All Games</a>
                </div>
             </div>
             <div class="form-title text-center">
                <h2 class="text-dark">About</h2>
                <p class="text-dark">This website has been created to store data about different video games. It was made only for educational purposes using fair use and fair dealing.<br><br> 
                    It does not and never will make any profit and it will never be published.<br></p>
                <h2 class="text-dark"><br>Key</h2>
                <p class="text-dark">
                    Given price is an avarage price based on different retail stores.
                    <br><br>
                    Hours to finish is the avarage time to finish the main content (excluding side quests etc.).
                </p>
            </div>

           
        </div>
    </main>
    <!-- /Main Site -->


<!-- include footer -->
<%- include('include/_footer') %>
<!-- /include footer -->